/* ==========================================================================
Author's custom styles
========================================================================== */
@import url("bootstrap.min.css")


/*
.outside {
  background-image : url('../img/evening.jpg');
}

*/
*{
  color : black;
/*  margin: 0; */
}

html, body{
height: 100%;
}
/*

.wrapper {
  min-height:100%;
  min-height: auto !important;
  height: 100%;
  margin 0 auto -4em;
}


.footer, .push {
  height: 4em;
}

form {
  height: 100%
}

*/
*{
  background-image : url('../img/evening.jpg') no-repeat center center fixed;
  -moz-backgound-size: cover;
  background-size:cover;
  
}

/*
.btn {
background-color :#7f8c8d;
}

a.focus{
  color: #f1c40f;
  background-color: #f1c40f;
}

.navbar-inverse > *:hover{
  color: #f1c40f;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #f1c40f;
}

*:hover{
  color: #f1c40f;
}

*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.page{
  padding-left : 51px; !important 

}

