<script  id='sign-in-template' type='text/template'>
  <div class="container">
          <div class="chatArea">
          <p>
          laskdjflaksjdfl;aksdjflaksjdf;laksdjfa;lskdjfa;lskdjfa;lskdjfksdjfkslkfjsldkjfksdflksjdflskjdflaksjdflksjdlfkasjdflaksjdf;lkasjdfsf
          </p>
          <p> chatting as <%= user.get('firstName') %> </p>
          </div>
          <div class='form-group'>
            <lable>Chat:</lable>
            <input type="text" id="chat-input" name="chat-input" class="form-control" />
          </div>
        </div>

        <hr />
        <div class="btn-group">
        <button class="btn btn-success chat-button" type="button" class="btn"> Send Chat </button>
        <button class="btn btn-info recv-button" type="button" class="btn"> Recv Chat </button>
  </div>
</script>
